

body {
    background-color: whitesmoke;
    font-family: 'Lucida Sans';
}

.navbar-brand{
    font-size: 50px;
    padding: 5px;
}

.navbar-nav a{
    padding: 10px;
    margin: 5px 5px;
    cursor: pointer;
  }

.row {
    margin: 40px;
}

.box-single {
    background-color: white;
    overflow: scroll;
    border-radius: 10px;
    padding: 10px; 
    margin: 20px 100px;
}

.box-images {
    /* background-color: white; */
    overflow: scroll;
    border-radius: 10px;
    padding: 10px; 
    margin: 20px 100px;
}

.box-images img{
    width: 75%
}

.actual img{
    width: 75%
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    margin-left: auto;
    margin-right: auto;
}

