

body {
    background-color: whitesmoke;
    font-family: 'Lucida Sans';
}

.navbar-brand{
    font-size: 50px;
    padding: 5px;
}

.navbar-nav a{
    padding: 10px;
    margin: 5px 5px;
    cursor: pointer;
  }

.row {
    margin: 40px;
}

.box-form {
    background-color: white;
    border-radius: 10px;
    padding: 10px; 
    margin: 20px 100px;
}

.session-predictions {
    text-align: center;
}

.box-images {
    /* overflow: scroll; */
    border-radius: 10px;
    padding: 10px; 
    margin: 20px 100px;
}

.box-images img{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.actual img{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* 
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

.form-group {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footer-copyright p{
    color: white;
}

